.featured-services {
  margin-top: 100px;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 18px;
  color: #222222;
}


.text-center {
  text-align: center !important;
}



.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}



.featured-services .icon-box:hover .icon i {
  color: #FFF;
}


.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #000000;
  transition: all 0.3s ease-in-out;
}


.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description, .featured-services .icon-box:hover .title {
  color: #fff;
}


.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #000000;
}



.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





.faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #DA4849;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #DA4849;
  transition: 0.3s;
}

.collapse:not(.show) {
  display: none;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
}


dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}


.faq .faq-list .collapsed:hover {
  color: #DA4849;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}


.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper {
  list-style: none;
}


.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.col-xl-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.faq .faq-list li {
  border-bottom: 1px solid #d4e5fc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list .collapsed {
  color: black;
}

.icon-show,
.icon-close {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 14px;
  margin-right: 5px;
}

.icon-show {
  color: #999;
}

.icon-close {
  color: #555;
}

.icon-show,
.icon-close {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.icon-show:hover,
.icon-close:hover {
  opacity: 1;
}

.d-none {
  display: none;
}