.featured-services {
  margin-top: 100px;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 18px;
  color: #222222;
}


.text-center {
  text-align: center !important;
}



.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

img,
svg {
  vertical-align: middle;
}

.featured-services .icon-box:hover .icon i {
  color: #FFF;
}



.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #000000;
}



.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.faq .faq-list .collapsed {
  color: black;
}




.faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #DA4849;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #DA4849;
  transition: 0.3s;
}

.collapse:not(.show) {
  display: none;
}


.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}


.faq .faq-list {
  padding: 0;
  list-style: none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
}


dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}


.faq .faq-list .collapsed:hover {
  color: #DA4849;
}



.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}


.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper {
  list-style: none;
}


.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.col-xl-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.faq .faq-list li {
  border-bottom: 1px solid #d4e5fc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list .collapsed {
  color: black;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}


.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}


.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}



.hvr-sweep-to-right::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: #DA4849;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}